{% load static %}

   
      <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="m-0"></i><img src="{% static 'logo/full_black_logo.svg' %}" alt="Logo"></h1>
               
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#rd-home" class="nav-item nav-link">Home</a>
                    <a href="#rd-about" class="nav-item nav-link">About</a>
                    <a href="#rd-services" class="nav-item nav-link">Services</a>
                    <a href="gallery" class="nav-item nav-link">Gallery</a>
                    <a href="allproducts" class="nav-item nav-link">Products</a>
                    <a href="#rd-brochure" class="nav-item nav-link">Brochure</a>
                    <a href="#rd-contact" class="nav-item nav-link">Contact</a>
                </div>
                <a href="tel:+917827130462" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Call Now</a>
            </div>
        </nav>
    </div>
