{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "ecom/components/head.html" %}
    <body>

        <!-- Topbar Start -->
        {% include "ecom/components/navbar_top.html" %}
        <!-- Topbar End -->

        <!-- Navbar & Hero Start -->
        {% include "ecom/components/allproductsnavbar.html" %}
        <!-- Navbar & Hero End -->

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Our Gallery</h1>
                 
            </div>
        </div>
        <!-- Header End -->

        <!-- Gallery Start -->
        <div class="container-fluid gallery py-5 my-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Our Gallery</h5>
                <h1 class="mb-4">Products Gallery.</h1>
            </div>
            <div class="tab-class text-center">
                <div class="tab-content">
                    <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-2">
                            {% for p in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                                <div class="gallery-item h-100">
                                    <img src="{% static p.product_image.url %}" class="img-fluid w-100 h-100 rounded" alt="Image">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End -->

        <!-- Subscribe Start -->
        <div id="rd-brochure" class="container-fluid subscribe py-5">
            <div class="container text-center py-5">
              <div class="mx-auto text-center" style="max-width: 900px">
                <h5 class="subscribe-title px-3">Brochure</h5>
                <h1 class="text-white mb-4">Download Our Brochure</h1>
                <p class="text-white mb-5">
                  SV Envirotech's brochure is a comprehensive guide providing detailed
                  insights into the company's offerings. It covers the full spectrum
                  of SV Envirotech's environmental solutions, including innovative
                  technologies, services, and their commitment to sustainable
                  practices. This brochure serves as a one-stop resource for
                  understanding SV Envirotech's contributions to a greener future.
                </p>
                <div class="position-relative mx-auto">
                  <a
                    href="{% static 'siddhivinayak-envirotech.pdf' %}"
                    target="_blank"
                    ><button
                      type="button"
                      class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2"
                    >
                      Download
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        <!-- Subscribe End -->

        <!-- Footer Start -->
        {% include "ecom/components/footer.html" %}
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
        

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

</html>