{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include "ecom/components/head.html" %}
    <body>

        <!-- Topbar Start -->
        {% include "ecom/components/navbar_top.html" %}
        <!-- Topbar End -->

        <!-- Navbar & Hero Start -->
        {% include "ecom/components/allproductsnavbar.html" %}
        <!-- Navbar & Hero End -->

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">{{product.name}}</h1>
            </div>
        </div>
        <!-- Header End -->

        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        {% comment %} <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;"> {% endcomment %}
                        <div class="h-100" style="border: 50px solid; border-color: transparent #0b9300 transparent #0b9300;">
                            <img src="{% static product.product_image.url %}" class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h1 class="mb-4"><span class="text-primary">{{product.name}}</span></h1>
                        <p class="mb-4">{{product.description}}</p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Price : ₹{{product.price}}</p>
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="tel:+917827130462">Call To Buy</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Subscribe Start -->
        <div id="rd-brochure" class="container-fluid subscribe py-5">
            <div class="container text-center py-5">
              <div class="mx-auto text-center" style="max-width: 900px">
                <h5 class="subscribe-title px-3">Brochure</h5>
                <h1 class="text-white mb-4">Download Our Brochure</h1>
                <p class="text-white mb-5">
                  SV Envirotech's brochure is a comprehensive guide providing detailed
                  insights into the company's offerings. It covers the full spectrum
                  of SV Envirotech's environmental solutions, including innovative
                  technologies, services, and their commitment to sustainable
                  practices. This brochure serves as a one-stop resource for
                  understanding SV Envirotech's contributions to a greener future.
                </p>
                <div class="position-relative mx-auto">
                  <a
                    href="{% static 'siddhivinayak-envirotech.pdf' %}"
                    target="_blank"
                    ><button
                      type="button"
                      class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2"
                    >
                      Download
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        <!-- Subscribe End -->

        <!-- Footer Start -->
        {% include "ecom/components/footer.html" %}
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
        

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

</html>